body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #fff;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#chat-container {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border-bottom: 5px solid #000;
    border-top: 5px solid #3f76b1;
    border-left: 5px solid #0056b3;
    border-right: 5px solid #0056b3;
}

.titulo {
    text-align: center;
    font-size: 20px;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    color: #000;
    margin: 0px;
}

.mensagem {
    text-align: center;
    font-size: 15px;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    color: #000;
    margin: 0px;
}

#user-input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #fff;
    align-items: center;
}

#user-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

#user-input:focus {
    border-color: #007bff;
}

.user-message, .bot-message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    max-width: 100%;
    line-height: 1.4;
    opacity: 0;
    transform: translateY(20px);
}

.user-message {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
    animation: fadeIn 0.5s forwards;
}

.bot-message {
    background-color: #f1f1f1;
    color: #333;
    align-self: flex-start;
    animation: fadeIn 0.5s forwards;
}

/* Estilo para o container das perguntas sugeridas */
#chat-box {
    margin: 0px;
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para cada pergunta sugerida */
.pergunta-sugerida {
    padding: 8px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

/* Efeito de crescimento suave ao passar o mouse */
.pergunta-sugerida:hover {
    background-color: #e0e0e0;
    transform: scale(1.02);
    border-color: #999;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#send-button {
    display: none; /* Inicialmente escondido */
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Adiciona transições para animação */
    opacity: 0;
    transform: scale(0.9);
}

#send-button.show {
    display: block;
    opacity: 1;
    transform: scale(1);
}

#send-button:hover {
    background-color: #539eee;
    color: #000;
}


/* Footer */
footer {
    padding-bottom: 1%;
    width: 100%;
    border-top: #000000 solid 3px;
    background-color: rgba(255, 255, 255, 0.2);
}

.des08 {
    text-align: center;
}

.des08 h2 {
    font-size: 20px;
}

.des08 p {
    font-size: 15px;
}

.des08 span {
    font-size: 15px;
}

@media(max-width: 900px){
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        background-color: #fff;
    }
    
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    #chat-container {
        width: auto;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    
    img {
        width: 40px;
        height: 40px;
        border-radius: 30px;
        border-bottom: 5px solid #000;
        border-top: 5px solid #3f76b1;
        border-left: 5px solid #0056b3;
        border-right: 5px solid #0056b3;
    }

    .titulo {
        padding-top: 20px;
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
        color: #000;
    }
    
    .mensagem {
        text-align: center;
        font-size: 15px;
        color: #000;
    } 
    
    #user-input-container {
        display: flex;
        padding: 10px;
        border-top: 1px solid #ccc;
        background-color: #fff;
    }
    
    #user-input {
        flex-grow: 1;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s;
    }
    
    #user-input:focus {
        border-color: #007bff;
    }
    
    .user-message, .bot-message {
        margin: 10px 0;
        padding: 10px 20px;
        border-radius: 20px;
        max-width: 100%;
        line-height: 1.4;
        opacity: 0;
        transform: translateY(20px);
    }
    
    .user-message {
        background-color: #007bff;
        color: white;
        align-self: flex-end;
        animation: fadeIn 0.5s forwards;
    }
    
    .bot-message {
        background-color: #f1f1f1;
        color: #333;
        align-self: flex-start;
        animation: fadeIn 0.5s forwards;
    }

    #chat-box {
        max-height: 400px;
        max-width: auto;
        overflow-y: auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        flex-grow: 1;
        background-color: #fff;
        height: 650px;
        width: 380px;
    }
    
    .pergunta-sugerida {
        padding: 8px;
        margin-bottom: 5px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
    }
    
    .pergunta-sugerida:hover {
        background-color: #e0e0e0;
        transform: scale(1.02);
        border-color: #999;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
